* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body {
  background-color: hsl(0, 0%, 95%);
}

.container {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 45px;
  height: 70vh;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 45px;
  height: 70vh;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 45px;
  height: 70vh;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.container img {
  margin-top: 15px;
  margin-bottom: 30px;
}

.container h2 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: left;
}

.container p {
  font-family: "Lexend Deca", sans-serif;
  /* font-weight: 400; */
  font-size: 15px;
  line-height: 25px;
  color: hsla(0, 0%, 100%, 0.75);
  text-align: left;
  margin-bottom: 50px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 120px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background-color: hsl(0, 0%, 95%);
}

.sedan button {
  color: hsl(31, 77%, 52%);
}

.suv button {
  color: hsl(184, 100%, 22%);
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

.link p {
  font-size: 20px;
  color: hsl(184, 100%, 22%);
}
